// Colors

$gray50: #F3F3F3;
$gray100: #00000014;
$gray200: #E1E1E1;
$gray300: #00000029;
$gray700: #676767;
$gray800: #283137;
$gray900: #101912;

$green700: #2C3A2F;

$white: #FFFFFF;

$black: #000000;

$blue100: #E2F7FF;
$blue200:#B2EAFF;
$blue300: #71D8FF;
$blue500: #00AEEF;
$blue700: #0089BC;
$blue800: #005271;
$blue900: #033244;

// Font Sizes
$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 0.95rem; // 15px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xl: 2rem; // 32px
$font-xlg: 3.25rem; //52