.selection-services__services{
    column-gap: 1.5rem;
    display: flex;
    margin-top: 2.5rem;

    width: auto;
}

@media screen and (max-width: 468px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 1024px){
    .selection-services__services{
        padding-bottom: 2rem;
        column-gap: 0;
    }
}