.footer__about{
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid var(--gray200);
    margin: 2.6875rem auto 0;
    padding-bottom: 8.375rem;
    width: 88vw;
}

.footer__about--content{
    column-gap: 2.5rem;

    display: flex;
}

.footer__about--content h4{
    color: var(--blue100);
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 1.5rem;

    padding-bottom: 1.25rem;
}

.footer__about--content p{
    color: var(--blue500);
    font-size: 0.875rem;
    line-height: 1.1875rem;

    cursor: pointer;
    padding-bottom: 0.625rem;
}

.footer__about--content address{
    color: var(--blue500);
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

.footer__about--content address a{
    color: var(--blue500);
    font-size: 0.875rem;
    line-height: 1.1875rem;
    
    margin-top: 0.625rem;
}

.footer__about--social{
    display: flex;
    justify-content: space-between;

    margin: 1.25rem auto 0;
    padding-bottom: 2.875rem;
    width: 88vw;
}

@media screen and (max-width: 468px){

}

    @media screen and (max-width: 768px){
        .footer__about{
            flex-direction: column;
            row-gap: 2rem;
        
            padding-bottom: 2rem;
        }
        
        .footer__about--content{
            align-items: flex-start;
            flex-direction: column;
            row-gap: 1rem;
        }
        
        .footer__about--content h4{
            text-align: left;
        }
        
        .footer__about--content p{
            text-align: left;
        }
        
        .footer__about--social{
                flex-direction: column-reverse;
                margin-top: 2rem;
                row-gap: 2rem;
            }
        }

@media screen and (max-width: 1020px){
    .footer__about{
        column-gap: 2rem;
    }
}

@media screen and (min-width: 1960px){
    .footer__about--content h4{
        font-size: 1.5rem;
    }

    .footer__about--content p{
        font-size: 1.1875rem;
    }
}