.footer{
    background-color: var(--gray800);

    width: 100%;
    margin: 6.5625rem auto 0;

    border-top: 4px solid var(--blue700);
}



.logo__nerdweb{
    background: url('../images/Grupo 549.png') center / cover no-repeat;
    min-width: 5.5rem;
    min-height: 2.125rem;

    display:inline-block; 
}

.opening-hours{
    color: var(--blue200) !important;
}



@media screen and (max-width: 468px){
    .footer{
        margin-top: 3.75rem;
    }
}