.logo{
    padding-right: 2.05rem;
}

@media screen and (max-width: 800px){

.show {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.header__nav {
    display: none;
  } 

  .one,
  .two,
  .three{
    background-color: #000;
    height: 5px;
    width: 100%;
    margin: 6px auto;
  
    transition-duration: 0.3s;
  }
    
  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }
}