.newsletters{
    background-color: var(--gray50);

    column-gap: 7rem;
    margin: 5rem auto 0;
    padding: 2.8125rem 7rem;
    width: 88vw;

    align-items: center;
    display: flex;
    justify-content: center;

    min-height: 16.375rem;
}


@media screen and (max-width: 468px){
.newsletters{
    flex-direction: column;
    padding: 2rem 0;

    width: 88vw;
    }
}