
.products{
    align-items: center;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 88vw;
}

.products h2{
    font-size: 1.7rem;
    margin-top: 4.375rem;
}

.products h2 span{
    color: var(--blue500);
}

.products button{
    border: 0 none;
    color: var(--blue900);
    background-color: var(--blue300);
    font-weight: 900;

    margin-top: 2.5rem;
    padding: 0.562rem 2.2rem;
    text-transform: uppercase;

    transition: filter 0.2s;
}

.products button:hover{
    filter: brightness(0.8);
}


@media screen and (max-width: 468px){
    .products h2{
        text-align: center;
    }
}

@media screen and (min-width: 1920px){
.products h2{
    font-size: 2.6875rem;

}

.products button{
    font-size: 1.1875rem;
}
}