.selection-services{
    width: 88vw;
    margin: 5rem auto 0;
}

.selection-services h2{
    text-align: center;
    font-size: 2rem;
    line-height: 2.6875rem;
}

.selection-services h2 + p{
    color: var(--blue700);
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.625rem;
    
}

@media screen and (min-width: 1920px){
    .selection-services h2{
        font-size: 2.6875rem;
    }

    .selection-services h2 + p{
        font-size: 1.625rem;
    }
}


