.services{
    display: flex;
    justify-content: center;

    margin: 0 auto;
    margin-top: 7.5rem;
    width: 88vw;
}

.arrow__right{
    max-height: 19.75rem;
    padding-right: 3.5rem;
}

@media screen and (max-width: 468px){
    .services{
        flex-direction: column;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 768px){
.arrow__right{
        display: none;
    }
}